/! Header
= render "layouts/header"

/! Navigation
= render "home/nav_bar"

/! About Section
= render "home/about"

/! Skills Section
= render "home/skill"

/! Portfolio Section
= render "home/portfolio"

/! Achievements Section
= render "home/achievements"

/! Experience
= render "home/partners"

/! Contact Section
= render "home/contact", hash: @hash

/ Footer
= render "layouts/footer"


