/! Header
= render "layouts/header"

/! Navigation
= render "home/nav_bar"

/! About Section
= render "home/about"

/! Skills Section
= render "home/skill"


/! Portfolio Section
= render "home/portfolio"


/! Achievements Section
= render "home/achievements"

/! Experience
= render "home/experience"

/! Contact Section
= render "home/contact"

/ Footer
= render "layouts/footer"


