/! Header
= render "home/banner"

/! Navigation
= render "home/nav_bar"

/! About Section
= render "home/about"

/! Skills Section
= render "home/skill"

/! Portfolio Section
= render "home/portfolio", portfolios: @portfolios

/! Achievements Section
= render "home/achievements"

/! Experience
= render "home/partners"

/! Contact Section
= render "home/contact"

/ Footer
= render "layouts/footer"


