/* About Section */
#about {
  padding: 100px 0;
  background: white;
}
#about .about-text {
  margin-left: 10px;
}
#about img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
}
#about p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
}
