/* Achivements Section */
#achievements {
  padding: 100px 0;
  background: #7bc3d1;
  h2 {
    color: #fff;
    font-weight: 700px !important;
  }
}
#achievements hr {
  background: rgba(255,255,255,0.3);
}
.achievement-box h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 5px;
}
.achievement-box span.count {
  font-size: 52px;
  font-weight: 600;
  display: block;
  color: #121d1f;
  padding: 0;
  margin: 0;
}