/* Contact Section */
#contact {
  padding: 100px 0 40px 0;
  color: #121d1f;
  // background: #7bc3d1;
  background: url('bg/bg8.jpg')  center top;
  // background-size: contain;
  p{
    font-size: 18px;
  }
}
#contact h2 {
  color: #fff;
}
#contact hr {
  background: rgba(255,255,255,0.3);
}
#contact h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
#contact form {
  padding: 30px 0;
}
#contact i.fa {
  color: #121d1f;
  margin-bottom: 10px;
}
#contact .text-danger {
  color: #E87E04;
  text-align: left;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: rgba(255,255,255,0.8);
  background-image: none;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: green;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
  margin-top: 60px;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 30px;
  padding: 4px 5px;
  color: #fff;
  transition: all 0.5s;
}
#contact .social i.fa:hover {
  color: #121d1f;
}
#contact .btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 10px 20px;
  color: #fff;
  margin-top: 15px;
}
#contact .btn:hover, #contact .btn:focus {
  background-color: #121d1f;
  border: 1px solid #121d1f;
}
.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}