/* Footer Section*/
#footer {
  background: #121d1f;
  color: #7d8384;
  padding: 30px 0 25px 0;
}
#footer p {
  font-size: 13px;
}
#footer a {
  color: #a0a5a5;
}
#footer a:hover {
  color: #7bc3d1;
}