/* Navigation */
#nav {
  z-index: 9999;
}
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%
}
.navbar-custom {
  margin-bottom: 0;
  background-color: darkred;
  border-radius: 0px;
  padding: 10px 0;
  .logo-and-name{
    display: inline-block;
    .logo{
      float: left;
      .logo-icon{
        width: 55%;
        border-radius: 10px;
      }
    }
    .name{
      float: left;
      margin-left: -35px;
    }
  }
}
.navbar-custom .navbar-brand {
  font-weight: 600;
  font-size: 22px;
}
#nav .navbar-custom li a{
  font-weight: bolder;
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}
.navbar-custom a {
  color: #f4f5f6;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  outline: 0;
  color: #7bc3d1;
  background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #7bc3d1;
}
.navbar-custom .nav li.active {
  outline: 0;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
  color: #fff;
}
.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
  background-color: #121d1f;
  border-color: #121d1f;
}
.btn-primary {
  color: #fff;
  background-color: #121d1f;
  padding: 10px 20px;
  border-color: #121d1f;
  border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #7bc3d1;
  border-color: #7bc3d1;
}
.btn-primary i.fa {
  margin-right: 10px;
}
