body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
}
body{
  background: url('banner6.gif') no-repeat center top;
  background-attachment:fixed;
  background-position: left top;
  position:absolute;
  background-size: 100% 90%;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

h1 strong {
	font-weight: 900;
}
h2 {
	margin: 0;
	margin-bottom: 30px;

  font-size: 30px;
  // font-weight: bold;
  color: brown;
  word-wrap: break-word;
}
h3, h4 {
	color: #121d1f;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #333;
}
a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #7bc3d1;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}



/* Media Queries */
@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
	text-align: left;
	color: #fff;
}
.intro H1 {
	font-size: 60px;
	font-weight: 500;
	letter-spacing: -2px;
}
.intro .name {
	font-weight: 600;
}
.intro .intro-text {
	max-width: 75%;
}
.intro .intro-text p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
section {
	padding: 120px 0;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}
header#header{
  height: 90%
}

.timeline:before {
	left: 50%;
}
.timeline>li {
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li .timeline-panel {
	float: left;
	width: 41%;
	padding: 0 20px 20px 30px;
	text-align: right;
}
.timeline>li .timeline-image {
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.timeline>li .timeline-image h4 {
	margin-top: 16px;
	line-height: 18px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 20px 20px;
	text-align: left;
}
}

@media(min-width:992px) {
#here-me h1 {
	margin: 10px 0 0px;
}
.timeline>li {
	min-height: 150px;
}
.timeline>li .timeline-panel {
	padding: 0 20px 20px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 30px;
	font-size: 18px;
	line-height: 26px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 0 20px 20px;
}
}

@media(min-width:1200px) {
.timeline>li {
	min-height: 170px;
}
.timeline>li .timeline-panel {
	padding: 10px 20px 20px 100px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 40px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 10px 100px 20px 20px;
}
}
