#user-form.block-content{
  .row.top-space{
    .btn{
      margin-right: 20px;
    }
  }
  .input-image{
    #target{
      margin-left: -10px;
    }
    #input-file{
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: -10px;
    }
  }
}